* {
    font-family: poppins;
}

.carousel-inner {
    height: 520px !important;
}

.container-setion {
    width: 100%;
    height: 300px;
    background: #09738a;
    border-bottom: 8px solid #092b5a;
}

.container-setion-convenio {
    width: 100%;
    height: 210px;
    background: #09738a;
}

.footer {
    border-bottom: 2px solid #092b5aed;
}

.titulo-agenda {
    color: #FFF;
}

.subtitulo {
    color: #092b5a;
}

.container-agenda {
    width: 500px;
    color: #FFF;
    text-align: center;
    font-family: poppins;
    font-size: 14px;
}

.carousel-inner {
    height: 520px;
}

.carousel-item {
    height: 100%;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-control-prev,
.carousel-control-next {
    filter: invert(100%);
}

.container-fluid {
    width: 80% !important;
}

.texteira {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100%;
    background: #09738a;
    color: #FFF;
}

.navbar {
    height: 120px !important;
}

.container-geral {
    width: 80% !important;
}

.quemsomos {
    height: 220px;
    width: 100%;
    background-image: url('/assets/images/psicologos.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.paragraph-2 {
    color: white;
    text-align: center;
    font-size: 14px;
}

.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.btn-paragraph {
    font-size: 14px;
}



.container-header>img {
    height: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    width: 100%;
}


.card-body {
    min-height: 130px;
}


.input-padrao {
    width: 200px;
}


.form-control {
    border-radius: 0.55rem;
}

.form-control:disabled,
.form-control[readonly] {
    background-color: #F5F5F5 !important;
    border: 1px solid #eeeeee !important;
}

.form-control:focus {
    box-shadow: 0 0 0 0.2rem rgba(5, 56, 207, 0.25) !important;
}

.input-padrao-contato,
.input-padrao-contato:focus,
.input-padrao-contato::placeholder {
    font-size: 14px;
    border-radius: 7px;
    color: #4D4F5C;
}


textarea {
    height: 100px;
}

.container-carrosel {
    max-width: 100%;
    margin: auto;
}

.carousel-inner img {
    width: 100%;
    height: auto;
}

.container-forms {
    height: 600px;
}

.container-contato-form {
    height: 600px;
    border: 1px solid #09738a;
}

.menu-container{
    background: white !important;
}

@media (max-width: 720px) {
    .container-contato-form {
        height: 650px;
        border: none;
        margin: 0!important;
        padding: 20px;
    }

    #carouselExampleCaptions {
        height: 150px;
    }

    .texteira {
        height: 30vw;
    }

    .menu-container {
        z-index: 999;
        position: relative;
    }

    .navbar-nav {
        background-color: white;
        padding: 10px;
    }

    .container-carrosel {
        height: 150px !important;
    }

    .carousel-inner img {
        height: 150px;
    }

    .carousel-inner {
        height: 150px !important;
    }


    .container-agenda {
        width: 100%;
        font-size: 12px;
    }

    .quemsomos {
        height: auto;
    }

    .container-geral {
        flex-direction: column;
    }


    .rodape {
        flex-direction: column;
    }

    .card {
        width: 100% !important;
        margin: 0 !important;
        margin-top: 5% !important;
    }

    .rodape {
        padding: 5% !important;
    }

    .container-setion {
        height: 340px;
    }

    .container-formulario {
        flex-direction: column;
    }

    .menu-container{
        background-color: #ffffff!important;
    }


    .container-telefones {
        display: none;
    }

    .legenda-subtitulo {
        margin: 0 !important;
    }

    .container-forms {
        height: auto;
    }
}